/*.chats {
    max-width: 700px;
    overflow-y: scroll;
    padding: 8rem;
}

.userDiv {
    display: flex;
    justify-content: flex-end;
    font-size: 0.9rem;
}


.gptDiv {
    text-align: left;
    font-size: 0.9rem;
}

.userMessage {
    background-color: #323232;
    padding: 10px 20px;
    border-radius: 14px;
    margin-left: 15rem;
    max-width: 500px;
    width: fit-content;
}

.hljs {
    border-radius: 14px !important;
}

pre {
    white-space: pre-wrap;
}*/
.userDiv {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 16px;
}

.userMessage {
    background: #2563eb;
    padding: 12px 16px;
    border-radius: 14px;
    max-width: 70%;
}

.gptDiv {
    background: #020617;
    padding: 14px 16px;
    border-radius: 14px;
    margin-bottom: 16px;
    max-width: 70%;
}
